/* =============
    Index
============= */
#my_work{
    background-color: var(--grey);
    padding: 0 16px;
        
    h1{
      padding-bottom: 24px;
      }
   h2{
      padding: 24px;
      }
   p{
      padding: 16px;
      }
  }

#education{
    background-color: var(--tan);
    padding: 0 16px;
        
    h1{
      padding-bottom: 16px;
      }
   h2{
      padding: 8px;
      }
   p{
      padding: 8px;
      }

}



    // love // hate
    a:link, a:visited{
        color: var(--green);
        text-decoration: none;
    }

    a:hover, a:active{
        color: var(--brown);
    }
