/* =============
    StyleSync
============= */


.stylebox2{
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 5px solid var(--brown);
    margin:16px;
    margin-top: 400px;

}

// h1{
//     font-family: 'Raleway', sans-serif;
// }

//     // love // hate
//     a:link, a:visited{
//         color: var(--white);
//         text-decoration: none;
//     }

//     a:hover, a:active{
//         color: var(--white);
//     }

// ul{
//     padding: 16px;
//     li{
//         list-style-type: disc;
//     }
// }