/* =============
    Navigation
============= */

// green / grey link
 // love // hate
 .GreenLink:link, .GreenLink:visited{
        color: var(--green);
        text-decoration: none;
    }
.GreenLink:hover, .GreenLink:active{
        color: var(--brown);
    }

 .GreyLink:link, .GreyLink:visited{
        color: var(--grey);
        text-decoration: none;
    }
.GreyLink:hover, .GreenLink:active{
        color: var(--white);
    }

nav{
    background-color: var(--green);
}