/* =============
    Navigation
============= */

// green / grey link
 // love // hate
 .GreenLink:link, .GreenLink:visited{
        color: var(--green);
        text-decoration: none;
    }
.GreenLink:hover, .GreenLink:active{
        color: var(--brown);
    }

 .GreyLink:link, .GreyLink:visited{
        color: var(--white);
        text-decoration: none;
    }
.GreyLink:hover, .GreenLink:active{
        color: var(--grey);
    }
.nav{
    Font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}
nav{

    background-color: var(--green);
    display:none;


    @include lg{
        display:flex;
        width: 100%;
    

    }

    ul{
        @include lg{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height:100%;
            width:100%;
            padding: 16px 0;
        }

        li{

            padding: 0 0 24px 24px;
            text-align: left;
            font-family: 'Raleway', sans-serif;
            text-decoration: underline;
            list-style: none;


            @include lg{
                paddiing: 0;
            }
            a{
                .GreyLink:link, .GreyLink:visited{
                    color: var(--grey);
                    text-decoration: none;
                }
            .GreyLink:hover, .GreenLink:active{
                    color: var(--white);
                }
            }
        }
    }
}

a.nav{
    .GreyLink:link, .GreyLink:visited{
        color: var(--grey);
        text-decoration: none;
    }
.GreyLink:hover, .GreenLink:active{
        color: var(--white);
    }
}

#education_a{
    .GreyLink:link, .GreyLink:visited{
        color: var(--grey);
        text-decoration: none;
    }
.GreyLink:hover, .GreenLink:active{
        color: var(--white);
    }
}


html{
    scroll-behavior: smooth;
}

.show-menu{
    display: block !important;
}